<h2>@Model.ReportName.Rus</h2>
<br />
<br />
<div>Начало периода</div>
<div>@Model.ReportDates.StartDate.ToShortDateString() @Model.ReportDates.StartDate.ToLongTimeString()</div>
<div>Конец периода</div>
<div>@Model.ReportDates.EndDate.ToShortDateString() @Model.ReportDates.EndDate.ToLongTimeString()</div>
<br />
<br />
